In [ ]:
!pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 9.8MB/s
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from geocoder) (0.16.0)
Collecting ratelim
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from geocoder) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from geocoder) (7.1.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2.10)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [ ]:
#importar librerías
import folium
from folium import plugins
import ipywidgets
import geocoder
import numpy as np
import pandas as pd
from vega_datasets import data as vds
from branca.element import Figure

In [ ]:
folium.Map?

In [ ]:
folium.Map()

In [ ]:
mapa_1 = folium.Map(
    location = [19.43598338801147, -99.1410585972054],
    zoom_start=50,
    width=500,
    height = 500
)
mapa_1

In [ ]:
from branca.element import Figure
fig = Figure(width=500, height=500)
fig.add_child(mapa_1)
fig

In [ ]:
mapa_1.save("bellas_artes.html")

In [ ]:
mapa_con_mini = folium.Map(location = [19.43598338801147, -99.1410585972054], zoom_start = 50)
minimapa= plugins.MiniMap(toggle_display= True)
mapa_con_mini.add_child(minimapa)

In [ ]:
dir = geocoder.osm("Playa Paraiso, Tulum")
LatLong = [dir.lat,dir.lng]
mapa_marcador = folium.Map(location=LatLong, zoom_start=15,height=500,width=500)
folium.Marker(LatLong, popup= "Quiero Playaaaaaaaaa", tooltip="Da Click").add_to(mapa_marcador)
mapa_marcador

In [ ]:
# from vega_datasets import data as vds
df_aeropuerto = vds.airports()
df_aeropuerto.head(5)

  iata                  name              city  ... country   latitude   longitude
0  00M               Thigpen       Bay Springs  ...     USA  31.953765  -89.234505
1  00R  Livingston Municipal        Livingston  ...     USA  30.685861  -95.017928
2  00V           Meadow Lake  Colorado Springs  ...     USA  38.945749 -104.569893
3  01G          Perry-Warsaw             Perry  ...     USA  42.741347  -78.052081
4  01J      Hilliard Airpark          Hilliard  ...     USA  30.688012  -81.905944

[5 rows x 7 columns]

In [ ]:
for indice, fila in df_aeropuerto[:10].iterrows():
  print(fila)

In [ ]:
mapa_aeropuerto = folium.Map(location=[31,-89],zoom_start=3)
for indice, fila in df_aeropuerto[:10].iterrows():
  folium.Marker(
  location = [fila.loc['latitude'],fila.loc['longitude']],
  popup = f"{fila.loc['name']}{fila.loc['city']}{fila.loc['state']}",
  tooltip = "Más info aquí"
  ).add_to(mapa_aeropuerto)

mapa_aeropuerto

In [ ]:
mapa_aeropuerto_apply = folium.Map(location=[80,-89],zoom_start=4, height=500, width=500)
df_aeropuerto[:20].apply(lambda row:folium.Marker(
    location=[row['latitude'],row['longitude']],
    popup= row['name']).add_to(mapa_aeropuerto_apply),axis=1)
mapa_aeropuerto_apply

In [ ]:
mapa_iconos = folium.Map(location=[30,-80],zoom_start=4,height=500, width=500)
folium.Marker(location=[30,-80], popup='Hola',
              icon=folium.Icon(color='green', icon="bicycle",prefix='fa')
              ).add_to(mapa_iconos)
mapa_iconos

In [ ]:
df = df_aeropuerto.sample(5)
df = df[['city','latitude','longitude']]
df['icono']=['bicycle','car','bus','truck','motorcycle']
df.head()

           city   latitude   longitude       icono
2357  San Diego  32.815733 -117.139566     bicycle
936     Broadus  45.433325 -105.417213         car
1929   New York  40.754546  -74.007084         bus
2733    Dimmitt  34.566736 -102.322695       truck
3275      Luray  38.667056  -78.500583  motorcycle

In [ ]:
for i in df.itertuples():
  print(i)

Pandas(Index=2357, city='San Diego', latitude=32.81573306, longitude=-117.1395664, icono='bicycle')
Pandas(Index=936, city='Broadus', latitude=45.433325, longitude=-105.41721329999999, icono='car')
Pandas(Index=1929, city='New York', latitude=40.75454583, longitude=-74.00708389, icono='bus')
Pandas(Index=2733, city='Dimmitt', latitude=34.56673556, longitude=-102.3226947, icono='truck')
Pandas(Index=3275, city='Luray', latitude=38.66705556, longitude=-78.50058333, icono='motorcycle')

In [ ]:
mapa_imagenes = folium.Map(location=[33,-116], zoom_start = 4)

for i in df.itertuples():
  folium.Marker(
      location = [i.latitude, i.longitude],
      popup = i.city,
      icon = folium.Icon(icon = i.icono, prefix='fa')
  ).add_to(mapa_imagenes)

mapa_imagenes

In [ ]:
df_2 = df_aeropuerto.sample(5)
df_2 = df_2[['city','latitude','longitude']]
df_2['nums']=[1,2,3,4,5]
df_2.head()

              city   latitude   longitude  nums
1925        Juneau  58.354962 -134.576276     1
2680  Palm Springs  33.829216 -116.506253     2
484       Timberon  32.633889 -105.686389     3
2907       De Smet  44.430803  -97.561189     4
1643       Killeen  31.064898  -97.827798     5

In [ ]:
mapa_personalizado = folium.Map(location=[30,-100],zoom_start = 4, height=500, width=500)

for i in df_2.itertuples():
  folium.Marker(
      location = [i.latitude,i.longitude],
      popup = i.city,
      icon= plugins.BeautifyIcon(number = i.nums,
                                 border_color= "blue",
                                 border_width=1,
                                 text_color = "red"
                                 )
  ).add_to(mapa_personalizado)
mapa_personalizado

In [ ]:
mapa_markers_circulares = folium.Map(location=[33,-115], zoom_start= 4)
folium.Circle(
    radius=100,
    location = [33,-116],
    popup = "Personalizado",
    color='crimson',
    fill=False
).add_to(mapa_markers_circulares)

folium.CircleMarker(
    radius=25,
    location = [33,-116],
    popup = "Personalizado",
    color='blue',
    fill="yellow"
).add_to(mapa_markers_circulares)
mapa_markers_circulares

In [ ]:
ciudades = ["Los Angeles","Las Vegas", "Denver","Chicago","Manhattan"]
data = df_aeropuerto[df_aeropuerto.city.isin(ciudades)].drop_duplicates(subset=['city'])
data.head(10)

     iata                       name  ...   latitude   longitude
850   APA                 Centennial  ...  39.570128 -104.849294
1107  CGX              Chicago Meigs  ...  41.858844  -87.607912
2010  L15                  Henderson  ...  35.976364 -115.132771
2039  LAX  Los Angeles International  ...  33.942536 -118.408074
2243  MHK         Manhattan Regional  ...  39.140967  -96.670833

[5 rows x 7 columns]

In [ ]:
latlong = data[['latitude','longitude']].values
latlong

array([[  39.57012833, -104.8492942 ],
       [  41.85884389,  -87.60791167],
       [  35.97636444, -115.1327708 ],
       [  33.94253611, -118.4080744 ],
       [  39.14096722,  -96.67083278]])

In [ ]:
mapa_ruta = folium.Map(location = [32,-94],zoom_start=5)
folium.PolyLine(latlong).add_to(mapa_ruta)
mapa_ruta

In [ ]:
mapa_ruta = folium.Map(location = [32,-94],zoom_start=5)
plugins.AntPath(latlong).add_to(mapa_ruta)
mapa_ruta

In [ ]:
cdmx = geocoder.osm("Mexico City, Mexico")
monterrey = geocoder.osm("Monterrey, Nuevo Leon")
guadalajara = geocoder.osm("Guadalajara, Jalisco")

cdmx_int = [cdmx.lat, cdmx.lng, 5000]
mty_int = [monterrey.lat, monterrey.lng, 1000]
gdl_int = [guadalajara.lat, guadalajara.lng, 500]

ciudades=[cdmx_int,mty_int,gdl_int]
mapa_calor = folium.Map(location=[19,-99], zoom_start=15, tiles = "Stamen Terrain")
plugins.HeatMap(ciudades).add_to(mapa_calor)
mapa_calor

In [ ]:
mapa_medicion = folium.Map([19,-99],zoom_start = 6)
medidas = plugins.MeasureControl(position = "topleft")
mapa_medicion.add_child(medidas)
mapa_medicion

In [ ]:
dibujo = plugins.Draw(export=True)
mapa_dibujo = folium.Map([19,-99],zoom_start=6 ) 
dibujo.add_to(mapa_dibujo)
mapa_dibujo

In [ ]:
mapa_doble = plugins.DualMap(location = [19,-99],zoom_start=5)
mapa_doble

In [ ]:
plugins.DualMap?

In [ ]:
#Generamos coordenadas aleatorias
# FUNCIONA EN JUPYTER NO EN COLAB

# Flotantes aleatorios que se suman a la coordenadas y los pasamos a lsita
datos_tiempo = (np.random.random((100,2,2)) + np.array([[19,-99]])).tolist()

#fechas
# Comparacion de fechas para obtener
datos_fechas = [d.strftime("%Y-%m-%d") for d in pd.date_range('20160101', periods=len(datos_tiempo))]

#hacemos el mapa
mapaCalorTiempo = folium.Map([19, -99], zoom_start=6)

#agregamos el layer del mapa de calor
heatmap = plugins.HeatMapWithTime(datos_tiempo, index=datos_fechas)
heatmap.add_to(mapaCalorTiempo)

#visualizamos
mapaCalorTiempo