# MAP
Iterador cuyo objetivo es aplicar una función a una estructura de datos (secuencia, lista)

In [2]:
#Recibe una función y una secuenta (estructura de dato) y 
#le aplica la función a cada elemento
txt = ['Las funciones lambda son funciones anonimas',
       'es decir, no tienen un nombre.',
       'Funciones son objetos en Python.']

anonimato = map(lambda s:(True,s) if 'anonimas' in s else (False,s),txt)
print(anonimato)

<map object at 0x7fdda7418460>

In [3]:
print(list(anonimato))

[(True, 'Las funciones lambda son funciones anonimas'), (False, 'es decir, no tienen un nombre.'), (False, 'Funciones son objetos en Python.')]

In [4]:
#La función es lambda
slicing = map(lambda s:s.split(),txt)
print(list(slicing))

[['Las', 'funciones', 'lambda', 'son', 'funciones', 'anonimas'], ['es', 'decir,', 'no', 'tienen', 'un', 'nombre.'], ['Funciones', 'son', 'objetos', 'en', 'Python.']]

In [5]:
#Pasamos la función a nuestro map
print(list(map(str.split,txt)))

[['Las', 'funciones', 'lambda', 'son', 'funciones', 'anonimas'], ['es', 'decir,', 'no', 'tienen', 'un', 'nombre.'], ['Funciones', 'son', 'objetos', 'en', 'Python.']]

In [6]:
str.split('El perrito de Zahid')

['El', 'perrito', 'de', 'Zahid']

In [7]:
txt

['Las funciones lambda son funciones anonimas',
 'es decir, no tienen un nombre.',
 'Funciones son objetos en Python.']

In [8]:
upper = map(lambda s:s[0].upper() + s[1:],txt)
print(list(upper))

['Las funciones lambda son funciones anonimas', 'Es decir, no tienen un nombre.', 'Funciones son objetos en Python.']

In [14]:
def square(num):
    return num**2

In [15]:
num=[1,2,3,4,5]
cuadrado=list(map(square,num))
print(cuadrado)

[1, 4, 9, 16, 25]

In [16]:
for i in map(square,num):
    print(i)

1
4
9
16
25

In [24]:
def par_char(frase_toro):
    if len(frase_toro)%2 == 0:
        return "PAR"
    else:
        return "No Par"

In [19]:
len("Soy ironhacker")

14

In [25]:
string_pares = list(map(par_char,txt))
print(string_pares)

['No Par', 'PAR', 'PAR']

In [21]:
txt

['Las funciones lambda son funciones anonimas',
 'es decir, no tienen un nombre.',
 'Funciones son objetos en Python.']

In [9]:
def multiplica(num):
    return lambda x:x*num

In [12]:
lista=[20,30,40,50]
por10=multiplica(10)
list(map(por10,lista))

[200, 300, 400, 500]

In [13]:
def multiplica_varios(elem1,elem2,elem3):
    return elem1*elem2*elem3

In [14]:
lista1=[25,35,45,55]
lista2=[20,30,40,50]
lista3=[2,3,4,5]

resultado = list(map(multiplica_varios,lista1,lista2,lista3))
print(resultado)

[1000, 3150, 7200, 13750]

In [31]:
lista_01=[25,35,45,55]
set1=(20,30,40,50)
lista_02=[2,3,4,5]

resultado = list(map(multiplica_varios,lista_01,set1,lista_02))
print(resultado)

[1000, 3150, 7200, 13750]

In [34]:
temps = [("Alemania", 29), ('Mexico', 28), 
         ('Japon', 40), ('Korea', 17),
         ('España', 32), ('Argentina', 11)
         ]
#Queremos convertir a Fahrenheit
fahrenheit = lambda t: (t[0],(9/5)*t[1]+32)
list(map(fahrenheit,temps))

[('Alemania', 84.2),
 ('Mexico', 82.4),
 ('Japon', 104.0),
 ('Korea', 62.6),
 ('España', 89.6),
 ('Argentina', 51.8)]

# Filter

Igual que map, recibe una función, itera y su objetivo es filtrar lo que le pases

In [35]:
def revisamo_par(num):
    return num%2 == 0

In [36]:
nums = [1,54,643,212,665,7753]

In [38]:
list(filter(revisamo_par,nums))

[54, 212]

In [39]:
filter(revisamo_par,nums)

In [40]:
from statistics import mean, median, mode
from random import choice

In [41]:
#definidmos flotantes
flotantes = [1.3,6.5,4.3,12.5]
#GEneramos datos, elegira de flotantes 50 numeros aleatorios
data = [choice(flotantes) for i in range(50)]

In [42]:
avg = mean(data)
mdn = median(data)
mda = mode(data)

In [44]:
len(data)

50

In [46]:
print(avg)
print(mdn)
print(mda)

6.104
6.5
6.5

In [45]:
list(filter(lambda x: x>avg,data))

[6.5,
 12.5,
 12.5,
 6.5,
 12.5,
 12.5,
 6.5,
 6.5,
 12.5,
 6.5,
 6.5,
 6.5,
 6.5,
 6.5,
 6.5,
 12.5,
 12.5,
 6.5,
 12.5,
 12.5,
 6.5,
 12.5,
 6.5,
 6.5,
 12.5,
 12.5]

In [47]:
list(filter(lambda x: x>mda,data))

[12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5]

In [49]:
vacios = ["","ferrari","","mercedez","audi"]
list(filter(None,vacios))

['ferrari', 'mercedez', 'audi']

In [51]:
numeros_2 = [443,532341,33,12,1,5423]
list(filter(lambda x: x%2==0 or x%3==0,numeros_2))

[532341, 33, 12]

# Reduce
Agregará todos los elementos de una secuencia aplicandoles una función. Opera con 2 elementos al mismo tiempo y regresa 1

In [52]:
numeros = list(range(10))
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
x = numeros[0]
for i in numeros[1:]:
    x = x-i
    print(i)
    print(x)

1
-1
2
-3
3
-6
4
-10
5
-15
6
-21
7
-28
8
-36
9
-45

In [57]:
from functools import reduce
reduce(lambda x,y:x-y,numeros)

-45

In [58]:
diez = [10,10,10,10]
a = 1

for i in diez:
    a = i*a
print(a)

10000

In [59]:
reduce(lambda x,y : x*y,diez)

10000

In [60]:
reduce(lambda x,y : x+y,[1,2,3,4,5])

15

In [61]:
#5! = 5*4*3*2*1
def factorial(num):
    return reduce(lambda x,y:x*y,[i for i in range(1,num+1)])

In [62]:
factorial(5)

120

In [65]:
ultimo = reduce(lambda x,y : x+" loves "+y,['math','data','learning'],"Ironhackers")
print(ultimo)

Ironhackers loves math loves data loves learning

x="Ironhackers, y=” math: return "Ironhacker loves math“ \\
x="Ironhackers loves math, y=data: return ”Ironhacker loves math loves data" \\
x=”Ironhacker loves math loves data“, y=”learning” : return ”Ironhacker loves math loves data loves learning